.whitebg
{
    background-color: #ffffff
}

.graybg
{
    background-color: #fdfdfd
}

.graynav
{
    background-color: #eee
}

.navb{border-bottom: 2px solid #fff; padding: .9%; padding-bottom:.6%;padding-left: 2% !important;}
.kategori{border-bottom: 7px dashed #999;
}
.pic{padding: 0.5% ; width: 24%;
    }

.pull-right {
  float: right !important;
}
.navbar-brand {
  float: left;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 15px;
}

.pure-button{
background-color: white ;
border: 1px solid #CCC !important;
    border-radius: 5px !important;
}

h1,h2,h3{font-weight: normal}

.pic .pure-button{width: 100%}