{% extends "base.html" %}
{% block additional-head %}<link rel="stylesheet" href="/static/css/combo.css">{% endblock %}
{% block title %} Upload Gambar {% endblock %}
{% block content %}
{% spaceless %}

 <style>body{background-color: #fafafa}</style>

  <h1><br/></h1>
<div class="pure-g-r">
<div class="pure-u-1-4"></div>
<div class="pure-u-3-5">
<form action="/uploader/new" class="pure-form pure-form-stacked" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
{{ form.errors }}
{% csrf_token %}
<fieldset>
  <legend>Upload Gambar</legend>
  {{ form.as_p }}
  <button>Upload!</button>
</fieldset>
</form>
</div>
</div>
{% endspaceless %}
{% endblock %}
