{% extends "base.html" %}

{% block additional-head %}

  <link rel='stylesheet' href='/static/assets/app.css'>
  <link rel='stylesheet' href='/static/css/buttons-min.css'>
  <link rel='stylesheet' href='/static/css/lightbox.css'>
{% endblock%}

{% block title %}Galeri{% endblock %}

{% block content %}
  <span class="pull-right">
    <a href="/logout">Logout</a>&nbsp;
  </span>
<div style="margin: 2%">
  {% regroup object_list|dictsort:"kategori" by kategori as object_list %}
  {% for object in object_list %}
  <div class="pure-u-1"><h2>Kategori {{object.grouper}}</h2></div>

  <div class="pure-g-r" id="{{object.grouper}}">
    {% for peserta in object.list %}
      {% if peserta.masuk_penilaian %}
      <div class="pure-u-1-4 pic" id="{{ peserta.pk }}" kategori="{{peserta.kategori}}">
        <a href="{{MEDIA_URL}}/{{peserta.gambar}}" data-lightbox="{{peserta.kategori}}" title="{{ peserta.nomor_lengkap }} - {{ peserta.judul_gambar }}">
          <img src="{{MEDIA_URL}}/{{peserta.gambar}}"></a><br/>

        <button class="pure-button" onclick=" toggle('#{{ peserta.pk }}'); simpan(); " name="{{ peserta.pk }}"><b>{{ peserta.judul_gambar }}</b> - {{ peserta.nomor_lengkap }}<br/>
        Sesi: {{ peserta.sesi }}</button>
        <br/><br/>
      </div>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
  </div>
</div>

<div id='belum' style="background-color: #eee; padding: 2%">
      <h2 class="pure-u-1">BELUM DISELEKSI</h2>
  {% for object in object_list %}
    <div class="pure-u-1"><h3>Kategori {{object.grouper}}</h3></div>
  <div class="pure-g-r" id="{{object.grouper}}belum">
      {% for peserta in object.list %}
        {% if peserta.masuk_penilaian == None %}
      <div class="pure-u-1-4 pic" id="{{ peserta.pk }}" kategori="{{peserta.kategori}}">
        <a href="{{MEDIA_URL}}/{{peserta.gambar}}" data-lightbox="{{peserta.kategori}}" title="{{ peserta.nomor_lengkap }} - {{ peserta.judul_gambar }}">
          <img src="{{MEDIA_URL}}/{{peserta.gambar}}"></a><br/>
        <button class="pure-button" onclick=" toggle('#{{ peserta.pk }}'); simpan() " name="{{ peserta.pk }}"><b>{{ peserta.judul_gambar }}</b> - {{ peserta.nomor_lengkap }}<br/>
        Sesi: {{ peserta.sesi }}</button>

        <br/><br/>
      </div>
        {% endif %}
      {% endfor %}
  </div>
  {% endfor %}


    </div>


<div id='gugur'style="background-color: #ccc; padding: 2%">
      <h2 class="pure-u-1">GUGUR</h2>
  {% for object in object_list %}
    <div class="pure-u-1"><h3>Kategori {{object.grouper}}</h3></div>
  <div class="pure-g-r" id="{{object.grouper}}gugur">
      {% for peserta in object.list %}
        {% if peserta.masuk_penilaian == False %}
      <div class="pure-u-1-4 pic" id="{{ peserta.pk }}" kategori="{{peserta.kategori}}">
        <a href="{{MEDIA_URL}}/{{peserta.gambar}}" data-lightbox="{{peserta.kategori}}" title="{{ peserta.nomor_lengkap }} - {{ peserta.judul_gambar }}">
          <img src="{{MEDIA_URL}}/{{peserta.gambar}}"></a><br/>
        <button class="pure-button" onclick=" toggle('#{{ peserta.pk }}'); simpan() " name="{{ peserta.pk }}"><b>{{ peserta.judul_gambar }}</b> - {{ peserta.nomor_lengkap }}<br/>
        Sesi: {{ peserta.sesi }}</button>

        <br/><br/>
      </div>
        {% endif %}
      {% endfor %}
  </div>
  {% endfor %}


    </div>

  </div>
  </div>
  </div>

<script src="/static/js/jquery-2.0.3.min.js"></script>
<script>
var json,raw,lolos,gugur;

function toggle(id)
{
  if( $(id).parent('#Agugur').length | $(id).parent('#Bgugur').length | $(id).parent('#Bbelum').length | $(id).parent('#Bbelum').length)
  $(id).prependTo( '#' + $(id).attr('kategori') )
  else
  $(id).prependTo('#' + $(id).attr('kategori') + 'gugur')
}

function bikinjson()
{
    A =$('#A').children().map(function() {return parseInt(this.id) }).get()
    B =$('#B').children().map(function() {return parseInt(this.id) }).get()
    lolos= A.concat(B)
    Agugur=$('#Agugur').children().map(function() {return parseInt(this.id) }).get()
    Bgugur=$('#Bgugur').children().map(function() {return parseInt(this.id) }).get()
    gugur=Agugur.concat(Bgugur)

    raw={'checked': lolos, 'unchecked': gugur, csrfmiddlewaretoken: "{{ csrf_token }}"}

    json=JSON.stringify(raw)
}

function simpan()
{
  bikinjson()
  $.post('/uploader/centangs',json)
  //.success(function()
   // {alert("Tersimpan")})
  .error(function()
    {alert("Error. Perubahan tidak tersimpan.")})
}

</script>
<script src="/static/js/lightbox-2.6.min.js"></script>
{% endblock %}