<!DOCTYPE html>
  <html lang="id">
<head>
<link rel='stylesheet' href='/static/css/combo.css'>
<title>{% block title %}{% endblock %}</title>
{% block additional-head %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
</body>
</html>
